@font-face {
  font-family: "iCielMedium";
  src: local("iCielMedium") url("./fonts/iCiel-Medium.ttf") format(true);
  font-weight: normal;
}

* {
  box-sizing: border-box;
  font-family: "iCielMedium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(25, 27, 31);
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}
